# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/

# Environment variables
.env

# Logs
logs/
*.log

# IDE settings
.vscode/
.idea/

# Python packaging
*.egg-info/
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

db.py